<!DOCTYPE html>
<html lang="en">

<head>
	<title>Book Seat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="refresh" content="200" />
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
			width: 50%;
		}

		button {
			padding: 5px;
			margin-right: 5px;
		}

		input {
			padding: 5px
		}
	</style>

</head>

<body style="background-color: lightgray">
	<button style="background-color: blue; color: white;" onclick="history.go(-1)"> Go to Dashboard</button>
	<div align="center">


		<h1>Book Seat</h1>
		<p th:text="'Passenger ID:   '+${passengerId}" />
		<p th:text="'Passenger Name: '+${passengerName}" />
		<center>
			<h1>Available Seats: </h1>
			<h1 id="available" th:value="${seatsAvailable}" th:text="${seatsAvailable}"></h1>
			<h1 style="color: red;" id="message"></h1>
			
			<h2>Only enter number of seats</h2>

			<form role="form" method="post" th:action="@{/passenger/booking/save}" th:object="${bookingForm}">
				<table>
					<tr>
						<td>
							<label>
								<h4>Passenger Id:</h4>
							</label>
							<input type="text" th:field="*{passengerId}" readonly />
						</td>

						<td>
							<label>
								<h4>Passenger Name:</h4>
							</label>
							<input type="text" th:field="*{passengerName}" readonly />
						</td>

						<td>
							<label>
								<h4>Bus Id:</h4>
							</label>
							<input type="text" th:field="*{busId}" readonly />
						</td>

						<td>
							<label>
								<h4>Bus Name:</h4>
							</label>
							<input type="text" th:field="*{busName}" readonly />
						</td>

						<td>
							<label>
								<h4>Seat Qty:</h4>
							</label>
							<!-- Autofocus & onfocus attributes removes the returned value 0 from backend. -->
							<input id="qty" type="text" th:field="*{seatQty}" autofocus onfocus="this.value=''" onkeyup="update()" placeholder="0"
								required />
						</td>

						<td>
							<label>
								<h4>Price:</h4>
							</label>
							<input id="price" type="text" th:field="*{price}" readonly />
						</td>

						<td>
							<label>
								<h4>Amount:</h4>
							</label>
							<input id="amount" type="text" th:field="*{amount}" readonly/>
						</td>
					</tr>
				</table>
				<br />
				<input type="submit" value="Book"></input>
			</form>
		</center>
	</div>
	<script>
		function update() {
			var qty = parseInt(document.getElementById("qty").value);
			var available = parseInt(document.getElementById("available").innerHTML);
			var price = parseInt(document.getElementById("price").value);

			if (qty > 0 && qty <= available) {
				document.getElementById("message").innerHTML = ""
				document.getElementById("amount").value =
					qty * price;
			}
			else {
				document.getElementById("message").innerHTML = "Seats cannot be less than 1 or more than the available seats";
			}
		}


	</script>
</body>

</html>