<!DOCTYPE html>
<html>

<head>
	<title>Booking History</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
			width: 100%;
			text-align: center;
			table-layout: fixed;
		}

		a {
			text-decoration: none;
			color: white;
		}
	</style>
</head>

<body>


	<button style="background-color: blue; color: white;" onclick="history.go(-1)"> Go to Dashboard</button>


	<center>
		<h1>My Current Booking</h1>
		<table>
			<thead>
				<th>Booked Date</th>
				<th>Bus Id</th>
				<th>Bus Name</th>
				<th>Seats Qty</th>
				<th>Price</th>
				<th>Total Amount</th>
				<th>Action</th>

			</thead>
			<tbody th:if="${booked != null}">
				<tr>
					<td th:text="${booked.bookedTime}"></td>
					<td th:text="${booked.busId}"></td>
					<td th:text="${booked.busName}"></td>
					<td th:text="${booked.seatQty}"></td>
					<td th:text="${booked.price}"></td>
					<td th:text="${booked.amount}"></td>
					<td>
						<button style="background-color: green; ">
							<a style="color: white;">E - Receipt Download</a>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</center>

	<br>

	<center>
		<h1>Booking History</h1>

		<table>
			<thead>
				<!-- Not needed 
				<th>Bus ID</th>
				-->
				<th>Booked Date</th>
				<th>Bus Id</th>
				<th>Bus Name</th>
				<th>Seats Qty</th>
				<th>Price</th>
				<th>Total Amount</th>
				<th>Action</th>

			</thead>
			<tbody th:if="${bookings != null}">
				<tr th:each="booking : ${bookings}">

					<td th:text="${booking.bookedTime}"></td>
					<td th:text="${booking.busId}"></td>
					<td th:text="${booking.busName}"></td>
					<td th:text="${booking.seatQty}"></td>
					<td th:text="${booking.price}"></td>
					<td th:text="${booking.amount}"></td>

					<!-- Add Pdf later -->
					<td>
						<button style="background-color: green; ">
							<a>E - Receipt Download</a>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</center>
</body>

</html>