<!DOCTYPE html>
<html lang="en">

<head>
	<title>Book Seat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="refresh" content="200" />
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
			width: 50%;
		}
	</style>

</head>

<body>
	<button style="background-color: blue; color: white;" onclick="history.go(-1)"> Go to Dashboard</button>
	<div align="center">


		<h1>Book Seat</h1>
		<p th:text="'Passenger ID:   '+${passengerId}" />
		<p th:text="'Passenger Name: '+${passengerName}" />
		<center>
			<form role="form" method="post" th:action="@{/passenger/booking/save}" th:object="${bookingForm}">
				<table>
					<tr>
						<td>
							<label>Passenger Id:</label>
							<input type="text" th:field="*{passengerId}" readonly />
						</td>

						<td>
							<label>Passenger Name:</label>
							<input type="text" th:field="*{passengerName}" readonly />
						</td>

						<td>
							<label>Bus Id:</label>
							<input type="text" th:field="*{busId}" readonly />
						</td>

						<td>
							<label>Bus Name:</label>
							<input type="text" th:field="*{busName}" readonly />
						</td>

						<td>
							<label>Seat Qty:</label>
							<input id="qty" type="text" th:field="*{seatQty}" onkeyup="update()" placeholder="0" required />
						</td>

						<td>
							<label>Price:</label>
							<input id="price" type="text" th:field="*{price}" readonly />
						</td>

						<td>
							<label>Amount:</label>
							<input id="amount" type="text" th:field="*{amount}" />
						</td>
					</tr>
				</table>
				<br />
				<input type="submit" value="Book"></input>
			</form>
		</center>
	</div>
	<script>
		function update() {
			document.getElementById("amount").value = 
			document.getElementById("qty").value * document.getElementById("price").value;
		}
	</script>
</body>

</html>