<!DOCTYPE html>
<html>

<head>
	<title>Passenger Portal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
	<center>
		<h1>Passenger Portal</h1>

	</center>

	<p th:text="'Passenger ID:   '+${id}" />
	<p th:text="'Passenger Name: '+${name}" />

	<!--	<h3 style="background-color: cyan;" th:text="${message}"></h3> -->

	<h1>Menu</h1>
	<a th:href="@{/passenger/modifyprofile/{id}(id=${id})}">My Profile</a>
	<a th:href="@{/passenger/busschedules/{id}(id=${id})}">Bus Schedules</a>
	<a th:href="@{/passenger/booking/{id}(id=${id})}">Booking History</a>

	<br>
	<br>
	<h1>Seach and Book Bus Tickets</h1>
	<form role="form" method="get" action="/passenger/busschedules">

		<td><label for="sDate">Journey Date:</label></td>
		<td><input id="sDate" type="date" name="sDate" required /></td>

		<!--		
		<td><label for="fromLoc">From:</label></td>
		<td><input id="fromLoc" type="text" name="fromLoc" /></td>

		<td><label for="toLoc">To:</label></td>
		<td><input id="toLoc" type="text" name="toLoc" /></td>
		-->

		<td>
			<label for="fromLoc">From Location:</label>
			<select name="fromLoc">
				<option th:each="f : ${from}" th:value="${f}" th:text="${f}" required>
				</option>
			</select>
		</td>

		<td>
			<label for="toLoc">To Location:</label>
			<select name="toLoc">
				<option th:each="t : ${to}" th:value="${t}" th:text="${t}" required>
				</option>
			</select>
		</td>
		<td><input type="submit" value="Search"></td>

	</form>
</body>

</html>