<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>

</head>

<body>
	<div align="center">

		<br>
		<h4>Login</h4>
	</div>

	<!--<form th:action="@{/login}" method="post">-->

	<form action="index" method="post">
		<div id="login">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" required autofocus />

			<br /><br /><br />

			<label for="password">Password:</label>
			<input type="password" id="password" name="password" required />
		</div>


		<br /><br /><br />

		<div>
			<button type="submit">Login</button>
		</div>
	</form>
</body>

</html>