<!DOCTYPE html>
<html>

<head>
	<title>Update Patient Record</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<style>
		button {
			padding: 5px;
			margin-right: 5px;
		}
	</style>
</head>

<body style="background-color: lightgray">

	<p th:text="'Patient ID:   '+${id}" />
	<p th:text="'Patient Name: '+${name}" />
	<button style="background-color: blue; color: white;" onclick="history.go(-1)"> Go to Dashboard</button>

	<div align="center">

		<h1>Update Patient Medical History</h1>

		<center>

			<form role="form" method="post" th:action="@{/doctor/updatemedicalhistory/save}" th:object="${history}">
				<table>
					<!--					<tr>
						<td><label>Doctor ID:</label></td>
						<td><input type="text" th:field="*{doctorId}" readonly /></td>
					</tr>
					-->
					<tr>
						<td><label>Patient ID:</label></td>
						<td><input type="text" th:field="*{patientId}" readonly /></td>
					</tr>
					<tr>
						<!--<td><label>Issued Date and Time:</label></td>-->
						<td><input type="date" th:field="*{diagnosis_date}" hidden /></td>
					</tr>

					<tr>
						<td><label>Medical Condition:</label></td>
						<td>
							<textarea rows="5" cols="25" th:field="*{medical_condition}" required>
            				</textarea>
						</td>
					</tr>


				</table>
				<br />
				<input type="submit" value="Update Patient Record"></input>

			</form>
		</center>


	</div>
</body>

</html>