<!DOCTYPE html>

<head>
	<title>Cancel Appointment</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
	<button style="background-color: blue; color: white;" onclick="history.go(-1)"> Go to Appointments</button>

	<h3 th:text="'Delete Appointment with ID:   '+${appointment.appointment_id}" />

	<center>
		<form method="post" th:object="${cancelAppointment}"
			style="width: 100%">
			<input type="submit" value="Confirm Cancellation" />
		</form>
	</center>
</body>