<!DOCTYPE html>

<head>
	<title>Cancel Appointment</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<style>
		button {
			padding: 5px;
			margin-right: 5px;
		}
	</style>
</head>

<body style="background-color: lightgray">
	<br>
	<button style="background-color: blue; color: white;" onclick="history.go(-1)"> Go to Appointments</button>

	<br>
	<br>
	<center>
		<h2 th:text="'Delete Appointment with ID:   '+${appointment.appointment_id}" />

		<form method="post" style="width: 100%">
			<input type="submit" value="Confirm Cancellation" />
		</form>
	</center>
</body>