<!DOCTYPE html>
<html>

<head>
	  <title>Medical History</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
			width: 80%;
			text-align: center;
			table-layout: fixed;
		}

		a {
			text-decoration: none;
			color: white;
		}
	</style>
</head>

<body>
	<!--<a th:href="">Back to Home</a>-->
	<p th:text="'Patient ID:   '+${patient.patient_id}" />
	<p th:text="'Patient Name: '+${patient.patient_name}" />
	<button style="background-color: blue; color: white;" onclick="history.go(-1)"> Go to Dashboard</button>

	<center>
		<h1>Medical History</h1>
		<table>
			<thead>
				<th>Med-History ID</th>
				<th>Diagnosis Date</th>
				<th>Medical Condition</th>
			</thead>
			<tr th:each="hist : ${history}">
				<td th:text="${hist.history_id}"></td>
				<td th:text="${hist.diagnosis_date}"></td>
				<td th:text="${hist.medical_condition}"></td>
			</tr>
		</table>
	</center>
</body>

</html>