<!DOCTYPE html>
<html>

<head>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
			width: 50%;
		}
	</style>
</head>

<body>
	<!--<a th:href="">Back to Home</a>-->
	<p th:text="'Patient ID:   '+${patient.patient_id}" />
	<p th:text="'Patient Name: '+${patient.patient_name}" />
	<button style="background-color: blue; color: white;" onclick="history.go(-1)"> Go to Dashboard</button>
	
	<center>
		<h1>Medical History</h1>
		<table>
			<thead>
				<td>Med-History ID</td>
				<td>Diagnosis Date</td>
				<td>Medical Condition</td>
			</thead>
			<tr th:each="hist : ${history}">
				<td th:text="${hist.history_id}"></td>
				<td th:text="${hist.diagnosis_date}"></td>
				<td th:text="${hist.medical_condition}"></td>
			</tr>
		</table>
	</center>
</body>

</html>