<!DOCTYPE html>
<html>

<head>
	  <title>Patient Portal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
	<a href="http://localhost:8082/logout">Logout</a>
	<center><h1>Patient Portal</h1></center>

	<p th:text="'Patient ID:   '+${id}" />
	<p th:text="'Patient Name: '+${name}" />
	
	<a th:href="@{doctordetails}">Doctor Details</a>
	<a th:href="@{bookappointment/{id}(id=${id})}">Book Appointment</a>
	<a th:href="@{checkappointment/{id}(id=${id})}">My Appointments</a>
	<a th:href="@{checkprescription/{id}(id=${id})}">My Prescriptions</a>
	<a th:href="@{medicalhistory/{id}(id=${id})}">My Medical History</a>

</body>

</html>